.footer {
   flex: 0 1 auto;
   width: 100%;
   background-color: #1C1F26;
   padding: 20px;
}

.footer__wrapper {
   max-width: 1500px;
   margin: 0px auto;
}

.footer__box-elements {
	display: flex;
	align-items: center;
}

.footer__column {
	flex: 0 1 50%;
}