.column {
	height: 100%;
	padding: 10px;
	background: #1C1F26;
	border-left: 1px solid #8891A2;
	border-right: 1px solid #8891A2;
	margin-right: 2px;
}

.column:last-child {
	margin-right: 0px;
}

.column__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}
