.btn-with-dynamic-background {
	width: 100%;
	border-radius: 3px !important;
	font-weight: 600;
	transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
}

.btn-with-dynamic-background__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px;
}

.btn-with-dynamic-background.gray-blue,
.btn-with-dynamic-background.gray-gray {
	color: #90959B;
}

.btn-with-dynamic-background.gray-blue:hover {
	background-color: #049DEA;
	color: aliceblue;
	box-shadow: 0 0 3px 0px #000;
}

.btn-with-dynamic-background.blue-blue {
	color: #049DEA;
}

.btn-with-dynamic-background.blue-blue:hover {
	box-shadow: 0 0 3px 0px #000;
	color: aliceblue;
	background-color: #049DEA;
}

.btn-with-dynamic-background.red-red {
	color: #9b191e;
}

.btn-with-dynamic-background.red-red:hover {
	box-shadow: 0 0 3px 0px #000;
	color: aliceblue;
	background-color: #9b191e;
}

.btn-with-dynamic-background.gray-gray:hover {
	box-shadow: 0 0 3px 0px #000;
	color: aliceblue;
	background-color: #35373C;
}

.btn-with-dynamic-background.yellow-yellow {
	color: #FAA61A;
}

.btn-with-dynamic-background.yellow-yellow:hover {
	box-shadow: 0 0 3px 0px #000;
	color: aliceblue;
	background-color: #FAA61A;
}

.btn-with-dynamic-background.green-green {
	color: #3BA55C;
}

.btn-with-dynamic-background.green-green:hover {
	box-shadow: 0 0 3px 0px #000;
	color: aliceblue;
	background-color: #3BA55C;
}
