.text-field {

}

.text-field__wrapper {
	margin-bottom: 15px;
}

.text-field__container {

}

.text-field__label-container {
	margin-bottom: 7px;
}

.text-field__label-group {
	display: flex;
	margin-bottom: 3px;
}

.text-field__label-description {
	color: #049DEA;
}

.text-field__required-flag {
	color: #DA3E41;
	margin-right: 2px;
}

.text-field__label-input {
	color: #90959B;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-field__block-input {
	position: relative;
	box-shadow: 0 0 3px 0px #000;
	border-radius: 3px !important;
	overflow: hidden;
	margin-bottom: 7px;
}

.text-field__display-controller {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 50px;
	height: 100%;
	background-color: #049DEA;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s ease 0s;
}

.text-field__display-controller:hover {
	background-color: #006496;
}

.text-field__flag-eye {
	width: 35px;
	height: 35px;
}

.text-field__input {
	background-color: #2B303B;
	transition: background-color 0.2s ease 0s;
	width: 100%;
	height: 100%;
	color: #D6D9DC;
	font-size: 15px;
}

.text-field__input:hover {
	background-color: #49545f;
}

.text-field__icon-input {
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.text-field__error-message-input {
	color: #DA3E41;
	font-size: 12px;
}