.auth-box {
	background-color: #1C1F26;
	box-shadow: 0 0 3px 0px #000;
	border-radius: 5px !important;
	overflow: hidden;
}

.auth-box__wrapper {
	padding: 32px;
	width: 950px;
}

.box-auth__container {
	display: flex;
	margin: 0px -20px;
}

.box-auth__column:first-child {
	flex: 0 1 70%;
}

.box-auth__column:last-child {
	flex: 0 1 30%;
}

.box-auth__column {
	padding: 0px 20px;
}

.box-auth__head {
	margin-bottom: 25px;
}

.head-box-auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 150%;
}

.head-box-auth__title {
	font-size: 24px;
	font-weight: 700;
	color: aliceblue;
	margin-bottom: 10px;
}

.head-box-auth__sub-title {
	font-size: 17px;
	color: #90959B;
}

.info-box-auth {
	line-height: 150%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info-box-auth__link-icon {
	position: relative;
	flex: 0 0 130px;
	width: 130px;
	height: 130px;
	margin-bottom: 15px;
}

.info-box-auth__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 10;
}

.info-box-auth__title-phrase {
	font-size: 18px;
	font-weight: 600;
	color: aliceblue;
	margin-bottom: 7px;
}

.info-box-auth__sub-phrase {
	font-size: 17px;
	color: #90959B;
}
