.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #2B303B;
}

.page__content {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 20px;
}
