.toggle-block {
	overflow: hidden;
	transition: height 0.6s ease 0s;
}

.toggle-block__container {
	transition: opacity 0.6s ease 0s;
}

.toggle-block.no-active .toggle-block__container {
	opacity: 0;
}

.toggle-block.active .toggle-block__container {
	opacity: 1;
}
