.recovery-account {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.recovery-account__content {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}