.checkbox-field__wrapper {
	margin-bottom: 20px;
}

.checkbox-field__description {
	color: #049DEA;
}

.checkbox-field__content {
	display: flex;
	align-items: center;
	margin: 7px 0px;
}

.checkbox-field__input-wrapper {
	margin-right: 7px;
}

.checkbox-field__checker {
	width: 25px;
	height: 25px;
	box-shadow: 0 0 3px 0px #000;
	border-radius: 5px !important;
	background-color: #2B303B;
	cursor: pointer;
	transition: background-color 0.2s ease 0s;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox-field__checker.active {
	background-color: #049DEA;
}

.checkbox-field__icon-checker {
	width: 22px;
	height: 22px;
}

.checkbox-field__input {
	display: none;
}

.checkbox-field__label {
	color: #90959B;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 0.2s ease 0s;
}

.checkbox-field__content:hover .checkbox-field__label {
	color: aliceblue;
}

.checkbox-field__content:hover .checkbox-field__checker {
	background-color: #49545f;
}

.checkbox-field__content:hover .checkbox-field__checker.active {
	background-color: #049DEA;
}

.checkbox-field__required-flag {
	color: #DA3E41;
	margin-left: 2px;
}

.checkbox-field__error-message-checkbox {
	color: #DA3E41;
	font-size: 12px;
}
