.button-arrows {
	flex: 0 0 27px;
	width: 27px;
	height: 27px;
	position: relative;
	background-color: #2B303B;
	border-radius: 3px !important;
}

.button-arrows__arrow {

}

.button-arrows__arrow_left {

}

.button-arrows__arrow_left:after,
.button-arrows__arrow_left:before,
.button-arrows__arrow_right:after,
.button-arrows__arrow_right:before {
	content: '';
	position: absolute;
	background-color: aliceblue;
	width: 7px;
	height: 2px;
	transition: background-color 0.3s ease 0s;
}

.button-arrows__arrow_left:after {
	top: 12px;
	left: 13px;
	transform: rotate(40deg);
}

.button-arrows__arrow_left:before {
	top: 8px;
	left: 13px;
	transform: rotate(-40deg);
}

.button-arrows__arrow_right:after {
	bottom: 13px;
	right: 12px;
	transform: rotate(40deg);
}

.button-arrows__arrow_right:before {
	transform: rotate(-40deg);
	right: 12px;
	bottom: 9px;
}

.button-arrows:hover .button-arrows__arrow_left:after {
	background-color: #049DEA;
}

.button-arrows:hover .button-arrows__arrow_left:before {
	background-color: #049DEA;
}

.button-arrows:hover .button-arrows__arrow_right:after {
	background-color: #049DEA;
}

.button-arrows:hover .button-arrows__arrow_right:before {
	background-color: #049DEA;
}