.loader {
	width: 100%;
	height: 100%;
}

.loader__container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 5px 13px 5px;
}

.loader__element {
   width: 55px;
   height: 55px;
   border-radius: 50%;
   position: relative;
   animation: rotate 1s linear infinite;
}

.loader__element::before, .loader__element::after {
   content: '';
   box-sizing: border-box;
   position: absolute;
   inset: 0px;
   border-radius: 50%;
   border: 5px solid aliceblue;
   animation: prixClipFix 2s linear infinite;
}

.loader__element::after{
   border-color: #049DEA;
   animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
   inset: 6px;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg)
   }
   100% {
      transform: rotate(360deg)
   }
}

@keyframes prixClipFix {
   0% {
      clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
   }
   25% {
      clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
   }
   50% {
      clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
   }
   75% {
      clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)
   }
   100% {
      clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)
   }
}
