.home-page__block {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-page__title {
	color: aliceblue;
	line-height: 125%;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 10px;
}

.home-page__title span {
	color: #049DEA;
}

.home-page__sub-title {
	color: #90959B;
	line-height: 125%;
	font-size: 25px;
	max-width: 1600px;
	margin-bottom: 45px;
}

.home-page__container-btns {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-page__link {
	flex: 0 0 280px;
	margin-right: 45px;
}

.home-page__link:last-child {
	margin-right: 0;
}

.home-page__btn {
	color: aliceblue;
	font-size: 22px;
	width: 100%;
}

.home-page__content-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-page__icon {
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
